body {
    margin: 0px;
    padding: 0px;
}

#nav-bar {
    display: flex;

    margin-top: 73px;
}

#nav-bar h1 {
    color: #756663;
    font-size: 30px;
    width: 50%;
    padding-left: 82px;
}

.topnav {
    margin-top: 26px;
    width: 50%;
    padding-left: 334px;
}

.topnav a {
    color: #756663;
    text-decoration: none;
    margin-left: 8px;
}

.fa-solid {
    margin-left: 8px;
    font-size: 23px;
}

img.cart-image {
    width: 31px;
    margin-left: 12px;
}

/* influencer-item's css */
#influencer-item {
    display: flex;
}

.text-item {
    padding-left: 82px;
}

.text-item h1 {
    font-size: 40px;
    color: #756663;
    padding-top: 75px;
}

.text-item p {
    width: 50%;
}

.preebook-button {
    color: white;
    background-color: rgb(228, 52, 110);
    border: none;
    padding: 10px 14px;
    border-radius: 20px;
}

.camera img {
    width: 600px;
}

.company-item {
    display: flex;
    justify-content: space-around;
    padding-right: 150px;
    padding-left: 150px;
}

.logos {
    width: 65px;
}

/* popular section css style  */

#popular-item h1 {
    text-align: center;
    color: #756663;
}

.grid-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 38px;
    grid-column-gap: 23px;
    padding-left: 62px;
    padding-right: 71px;
}

.grid-images {
    box-shadow: 0px 0px 10px 0px;
    margin-left: 18px;
    background-color: ghostwhite;
    height: auto;
    border-radius: 10px;
    padding: 15px 15px;
}

.grid-images img h1 h2 p {
    display: inline;
}

.grid-images h1 {
    display: inline;
}

.grid-images p {
    color: #756663;
}

.number {
    display: inline;
    color: #756663;
}

.grid-images img {
    margin-bottom: 15px;
    width: 100%;
}

.grid-images h2 {
    color: #756663;
    margin-top: 15px;
    margin-bottom: 0px;
}

.fa-star,
.fa-star-half-stroke {
    color: hsla(43, 90%, 48%, 0.994);
    margin-left: 0px;

}

.see-about {
    margin-top: 20px;
}

.see-about a {
    margin-left: 950px;
    text-decoration: none;
    color: deeppink;
    font-size: 16px;
    font-weight: 700;
}

/* section summary css style */

#summary {
    display: flex;
    margin-top: 100px;
}

#summary img {
    padding-left: 119px;
    width: 600px;
}

.summary-text {
    width: 50%;
    padding-left: 119px;
    padding-right: 108px;
}

.summary-text h1,
p {
    color: #756663;
}

.button-join {
    background-color: deeppink;
    color: white;
    padding: 6px 8px;
    border: none;
    border-radius: 24px;
    font-weight: 700;
    font-size: 14px;
}

/* footer section css style */


#footer-area {
    background-color: rgb(241, 219, 97);
    margin-top: 62px;
    padding-top: 30px;
    padding-bottom: 15px;
}

#footer-area h1 {
    text-align: center;
    color: #756663;

}

#footer-area p {
    text-align: center;
    color: #756663;

}

.anchors-item {
    margin-left: 633px;
}

/* media query css style */

@media only screen and (max-width:688px) {}